.account-page {
  width: min(100%, 28rem);
  margin: 3rem auto 0;
  display: grid;
  gap: 1rem;

  h1,
  p {
    margin: 0;
    text-align: center;
  }
}

.account-page > :not(h1) {
  font-size: 1.125rem;
}

ion-button.button.custom-button {
  min-height: 42px;
}
