services:
  nginx:
    image: docker.io/library/nginx:1.28.0
    depends_on:
      - web
    ports:
      - 2089:80
    restart: unless-stopped
    volumes:
      - browser-static:/static
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/slsfi/digital-edition-frontend-ng:main
    restart: unless-stopped
    volumes:
      - browser-static:/digital-edition-frontend-ng/dist/app/browser
volumes:
  browser-static:
