/* ATTN. Styles for elements in the markdown content must be globally defined in _markdown.scss to be applied. */

// Import general styles for the secondary toolbar
@use "../../../theme/common/secondary-toolbar.scss";

.md_content {
    width: 100%;
    max-width: 800px;
    padding-bottom: 4rem;
}
