:host {
  --border-color: #d8d8d8;
}

div.teiContainer {
  h2 {
    font-size: 1.25em;
    font-variant: small-caps;
    margin: 0 0 .5em;
  }

  h3 {
    background-color: var(--tertiary-color);
    font-size: 1em;
    font-weight: 600;
    margin: 2em 0 0.5em 0;
    padding: 0.25em 0.5em;

    &:first-child {
      margin-top: 0;
    }
  }

  dl {
    display: table;
    margin: 0;
    width: 100%;

    div {
      display: table-row;

      dt,
      dd {
        display: table-cell;
      }

      dt {
        font-weight: 600;
        padding-right: 1.5em;
        white-space: pre;

        &::after {
          content: ": ";
        }
      }

      dd {
        overflow-wrap: break-word;
        vertical-align: bottom;
        width: 100%;

        a {
          overflow-wrap: anywhere;
        }
      }

      + div {
        dt,
        dd {
          border-top: 1px solid var(--border-color);
        }
      }
    }

    &.padded {
      padding: 0.25em 0.5em;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      font-weight: 600;
      padding: 0.25em 0.5em;

      dl {
        font-weight: normal;
        padding-left: 1.125em;
      }

      &.no-indent {
        dl {
          padding-left: 0;
        }
      }
    }

    li + li {
      margin-top: 1em;
    }
  }

  .linked-text-title {
    border-bottom: 1px solid var(--border-color);
  }
}
