ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
}

.login-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-block: 3.5rem 1.5rem;
}

.login-form {
  width: min(100%, 28rem);
  display: grid;
  gap: 0.9rem;
}

.login-form > :not(h1) {
  font-size: 1.125rem;
}

h1 {
  margin: 0 0 0.25rem;
  text-align: center;
}

.center {
  text-align: center;
}

.form-error {
  margin: -0.35rem 0 0.2rem;
  color: #a10606;
  font-size: 0.9rem;
}

.auth-error {
  margin-top: 0;
  text-align: center;
}

.forgot-password {
  margin: -0.35rem 0 0 0;
  text-align: right;
}

ion-input.input-fill-outline {
  --highlight-color-focused: var(--outline-button-color);
  --highlight-color-valid: var(--outline-button-color);
  --highlight-color-invalid: #a10606;
}

.authentication-divider {
  width: 100%;
  margin-block: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;

  span {
    background-color: var(--main-background-color);
    padding-inline: 0.75rem;
    z-index: 1;
  }

  &::after {
    content: "";
    background-color: #b8b8b8;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
  }
}

.no-margins {
  margin: 0;
}

.legal-consent-footer {
  margin-top: auto;
  padding: 2rem 0 0.75rem;
}

.legal-consent {
  margin: 0;
  text-align: center;
  font-size: 0.9375rem;
}

ion-button.button.custom-button {
  min-height: 42px;
}
