/*
  CSS variables scoped to <page-home> by import.

  To override any of these variables in custom.scss you must use
  this selector for defining the scope:

  page-home[class][class] { }
*/

:host {
  // Banner image and site title, mainly in landscape mode
  --banner-border-bottom: 0;
  --banner-height: 50%;
  --banner-title-wrapper-top: 50%;
  --banner-title-background-color: transparent;
  --banner-title-color: #000;
  --banner-title-opacity: 1;
  --banner-title-font-size: calc(1.375rem + 2.15vw);
  --banner-title-font-weight: 400;
  --banner-title-text-shadow: none;
  --banner-title-letter-spacing: normal;
  --banner-title-text-transform: none;
  --banner-title-white-space: normal;
  --banner-subtitle-font-size: calc(1.25rem + 0.7vw);
  --banner-subtitle-font-style: italic;
  --landscape-pic-img-obj-position: 50% 50%;

  // Banner image and site title in portrait mode
  --portrait-banner-background-color: transparent;
  --portrait-site-title-color: #000;
  --portrait-site-title-font-family: var(--font-stack-home-banner);
  --portrait-site-title-font-size: 3.25rem;
  --portrait-site-title-font-weight: 400;
  --portrait-site-title-letter-spacing: normal;
  --portrait-site-title-text-align: center;
  --portrait-site-title-text-transform: none;
  --portrait-site-subtitle-font-size: 2.25rem;
  --portrait-site-subtitle-font-style: italic;
  
  // The following apply in portrait mode when the content is shown in a single column,
  // i.e. the banner image is full width and text content is below
  --portrait-single-site-title-font-size: 2.25rem;
  --portrait-single-site-title-text-align: center;
  --portrait-single-site-subtitle-font-size: 1.625rem;

  // Search bar alignment: change the left margin to 0 to left-align the search bar
  // instead of center-align it
  --search-bar-margin-left: auto;
  --portrait-single-search-bar-margin-left: auto;

  // Max-width of divisions
  --text-content-max-width: 750px;
  --site-presentation-max-width: var(--text-content-max-width);
  --content-grid-max-width: var(--text-content-max-width);
  --search-bar-max-width: 520px;
  --footer-max-width: var(--text-content-max-width);

  // Footer
  --footer-color: #353535;
  --footer-text-align: center;
}
